

.button4{
  height: 25px;
  width: 25px;
  color: var(--green);
  border-color: var(--green);
  border-radius: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: 1px;
  font-size: 20px;
  font-weight: 500;
}