
.head2-cont0{
  display: flex;
  justify-content: center;
  border-bottom: solid 1px var(--greyTrait);
  padding: 12px 0;
}

.head2-cont0 .centreur{
  display: flex;
  justify-content: space-between;
}

.head2-cont1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.head2-cont11 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.head2-cont111 {
  display: flex;
}

.head2-cont21 {
  display: flex;
  align-items: center;
  gap: 10px;
}

#image-principale{
  object-fit: cover;
  width: 30%;
  height: 250px;
  border-radius: 5px;
}

#button-groupe {
  height: 50px;
  background-color: white;
  border-radius: 5px;
  border-width: 1px;
  border-color: var(--greyTrait);
  border-style: solid;
  width: 100%;
  margin-top: 20px;
}