

.panier-cont0{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.panier-cont1{
  border-bottom: solid 1px var(--greyTrait);
  padding-bottom: 20px;
}

.panier-cont2{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.panier-cont3{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.panier-total{
  display: flex;
  justify-content: space-between;
}

#button-valider{
  border-style: none;
  background-color: var(--green);
  color: white;
  height: 50px;
}

#panier-vide{
  width: 100%;
  text-align: center;
}

.total-general{
  font-weight: 600;
}

