
.section3-cont0{
  display: flex;
  justify-content: center;
  padding: 12px 0;
}

.section3-cont0 .centreur{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section3-cont1{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}