
:root{
  --greyTrait: rgb(203, 203, 203);
  --greyBackground: #F9FAFA;
  --green: #00CCBC;
}

.centreur{
  width: 90%;
}

html, body{
  height: 100%;
  width: 100%;
}

h1{
  font-size: 40px;
  font-weight: 900;
}

h2{
  font-size: 30px;
  font-weight: 900;
}

h3{
  font-size: 20px;
  font-weight: 900;
}

*{
  box-sizing: border-box;
}